# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/

# Environment variables (セキュリティのため絶対にあげないこと)
.env
*.local

# OS files
.DS_Store
Thumbs.db

# PHP related
vendor/
composer.lock

.vite/
node_modules/
.DS_Store
public/.DS_Store